# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Editors
.vscode
.idea

# General
.DS_Store

# Build and Output
/battlesnake
game/battlesnake
*.jsonl

# Devcontainers
.devcontainer
!.devcontainer/devcontainer.json

# CodeClash
logs/
